
@media only screen and (max-width: 1500px) {
    .col-edit
     {
                /* display: contents; */
        /* text-align: center; */
        /* justify-content: center; */
        /* text-align: center; */
        width: 50%;
        display: ruby-text;
        /* justify-content: center; */
        /* align-content: center; */
        /* align-items: center; */
        text-align: center;
        margin: 0 auto;
    }
  }
  .col-center{
    margin: 0 auto;
    text-align: center;
  }
  .edit-card{
    padding: 30px;
  }
  .btn-edit{
    padding: 17px;
  }
  .edit{
    height: 200px;
    width: 180px;
  }
  .edit-book{
    height: 174px;
    width: 180px;
    margin: 0 auto;
 
}
.img-edit{
  border-radius: 50% !important;
  border-radius: 20px;
  width: 30px;
  margin-right: 8px;
}